html {
	background-color: #f2f2f2;
}
body {
	margin: 0 auto;
	padding: 0;
	width: 1200px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}
a {
	text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
	font: inherit;
	font-weight: 700;
	text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
} 
.button:hover,
.button:focus {
	background-color: #604e43;
}
.button:active {
	background-color: #503e33;
	color: #928a85;
}
.button-search .button {
	background-color: #81b3d2;
}
.button-search .button:hover,
.button-search .button:focus {
	background-color: #669ec0;
}
.button-search .button:active {
	background-color: #5496bd;
	color: #94b9d2;
}
.main-header,
.container,
.main-footer {
	background-color: #ffffff;
}
.main-header {
	position: relative;
}
.main-navigation {
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	color: #000000;
}
.main-header-logo {
	width: 138px;
	height: 70px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.main-header-logo img {
	z-index: 2;
}
.site-navigation {
	display: flex;
	margin: 0px;
	padding: 0px;
	list-style: none;
	padding: 15px 0;
}
.site-navigation li {
	width: 20%;
}
.site-navigation li:first-child,
.site-navigation li:nth-child(2) {
	padding-left: 73px;	
}
.site-navigation li:nth-child(2) {
	margin-right: auto;
} 
.site-navigation li:last-child,
.site-navigation li:nth-child(3) {
	padding-right: 73px;
	text-align: right;	
}
.site-navigation li:nth-child(3) {
	margin-left: auto;
}
.site-navigation a {
	color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}
.site-navigation .active a {
	color: #766357;
}
.background {
	background-color: #81b3d2; 
	background-image: url(../img/index-background.jpg);
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-size: cover;    
	min-height: 510px;
	margin-bottom: 63px;
}
.features .promo {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-align: center;
	margin: 0;
	margin-bottom: 31px;
	padding: 0 300px;
}
.features .five-reasons {
	text-align: center;
	margin: 0;
	margin-bottom: 54px;
}
.features h3 {
	font-size: 21px;
	font-weight: 700;
	color: #000000;
}
.features-list h3 {
	margin: 0;
	margin-top: 35px; 
	margin-bottom: 30px;
}
.features-reasons {
	display: flex;
	flex-direction: row;
	min-height: 256px;
}
.features-reasons .wrapper {
	width: 400px;
	background-color: #81b3d2;
	text-align: center;
	color: #ffffff;
	padding: 46px 59px 15px;
}
.features-reasons .wrapper:nth-child(2) {
	padding: 46px 45px 15px;
}
.features-reasons .wrapper h3 {
	margin: 0 auto;
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 25px;
	color: #ffffff;
}
.features-reasons .wrapper:nth-child(2) h3 {
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 25px;
}
	
.features-reasons .wrapper p {
	margin-top: 16px;
}

.features-reasons img {
	width: 800px;
	height: auto;
}
.features-list {
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	padding-top: 60px;
	padding-bottom: 73px;
}
.features-list .feature-item p {
	width: 300px;
	margin: 0px; 
}
.features-list,
.features-reasons-others {
	list-style: none;
}
.features-list .feature-item {
  text-align: center;
  position: relative;
  padding-top: 70px;
}
.features-list .feature-item:first-child::before {
	content: "";
	position: absolute;
    left: 112px;
    top: 0px;
    width: 75px;
    height: 71px;
    background-image: url(../img/icon-1.svg);
}
.features-list .feature-item:nth-child(2)::before {
	content: "";
	position: absolute;
  left: 112px;
  top: 0px;
  width: 75px;
  height: 71px;
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
}
.features-list .feature-item:last-child::before {
	content: "";
	position: absolute;
  left: 112px;
  top: 0px;
  width: 64px;
  height: 76px;
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
}
.features-reasons-others {
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	padding-top: 50px;
	padding-bottom: 60px;
	background-color: #eeeeee;
	text-align: center;
}
.features-reasons-others .feature-item h3 {
	width: 120px;
	display: flex;
	margin: 0 auto;
	margin-bottom: 30px;
}
.features-reasons-others .feature-item p {
	width: 280px;
	text-align: center;
	margin: 0;
	margin-top: 30px;
}
.hotel-search {
	position: relative;
	padding-top: 55px;
	text-align: center;
}
.hotel-search h2 {
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
}
.hotel-search .information {
	margin: 0px;
	padding: 0px;
	margin-bottom: 50px;
}
.hotel-search .button-sedona-search {
	font-size: 21px;
	line-height: 26px;
	width: 568px;
	margin: 0;
	padding: 31px 0;
} 
.hotel-search .hotel-form {
	margin: 0 auto;
  padding: 55px;
  width: 458px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
} 
.form-wrapper {
	text-align: left;
}
.hotel-item {
	margin: 0;
	padding: 0;
	font-weight: 700;
	line-height: 26px;
	position: relative;
}
.hotel-item:first-child label {
	margin-right: 20px;
}
.hotel-item:nth-child(2) label {
	margin-right: 17px;
}
.form-container:first-child label {
	margin-right: 41px;
}
.form-container:nth-child(2) label {
	margin-right: 28px;
}
.hotel-item:first-child svg {
	content: "";
	position: absolute;
	width: 21px;
	height: 22px;
	top: 8px;
	left: 427px;
	opacity: 0.3;
}
.hotel-item:nth-child(2) svg {
	content: "";
	position: absolute;
	width: 21px;
	height: 22px;
	top: 8px;
	left: 427px;
	opacity: 0.3;
}
.hotel-item:first-child svg:hover,
.hotel-item:nth-child(2) svg:hover {
	opacity: 1;
}
.hotel-item:first-child svg:active,
.hotel-item:nth-child(2) svg:active {
	fill: #81b3d2;
}
.hotel-form input {
	width: 296px;
	height: 36px;
	margin: 0;
	padding: 0;
	padding-left: 12px;
	padding-right: 35px;
	margin-bottom: 30px;
	font-weight: 700;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
}
.hotel-form input::placeholder {
	color: #000000;
}
.hotel-unifier {
	display: flex;
}
.form-container {
	display: flex;
	margin-right: 50px;
	line-height: 38px;
}
.form-container  input {
	width: 36px;
	height: 36px;
	padding: 0;
	margin: 0;
	text-align: center;
}
.hotel-form input:hover {
	background-color: #ebebeb;
}
.hotel-form input:focus {
	background-color: transparent;
}
.button-less, 
.button-more {
	position: relative;
  height: 38px;
  width: 38px;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #f2f2f2;
}
.button-less::before {
	content: "";
	width: 12px;
	height: 3px;
	position: absolute;
	top: 18px;
	left: 13px;
	background-color: #a9a9a9;
}
.button-less:hover::before {
	background-color: #000000;
}
.button-less:active::before {
	background-color: #81b3d2;
}
.button-more::before,
.button-more::after {
	content: "";
	width: 12px;
	height: 3px;
	position: absolute;
	top: 18px;
	left: 13px;
	background-color: #a9a9a9;
}
.button-more::after {
	transform: rotate(90deg);
}
.button-more:hover::before,
.button-more:hover::after {
	background-color: #000000;
} 
.button-more:active::before,
.button-more:active::after {
	background-color: #81b3d2;
} 
.button-search {
	margin: 0;
	padding: 0;
}
.button-search .button {
	font-size: 21px;
	line-height: 26px;
	width: 100%;
	height: 57px;
	margin: 0;
	padding: 0;
	margin-top: 54px;
}
.hotel-search .map {
	margin: 0;
	padding: 0;
}
.map img {
	height: 595px;
} 
.main-footer {
	display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 965px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 133px;
  padding-right: 102px;
  position: absolute;
  top: 780px;
  background-color: rgba(249, 251, 246, 0.9);
}
.main-footer span {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	margin-right: 35px;
}
.footer-social {
	width: 151px;
}
.footer-social ul {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
	margin-right: 100px;
}
.social-button {
  display: flex;
  width: 46px;
  height: 48px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #81b3d2;
}
.footer-social li {
	 margin-right: 6px;
}
.footer-social li:last-child {
	 margin-right: 0;
}
.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}
.social-button:active {
  background-color: #5496bd;
}
.social-button:active path {
	fill: #88b6d1;
}
.footer-copyright {
	display: flex;
	align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}
.footer-copyright b {
	margin-right: 8px;
}
.footer-copyright:hover path {
	fill: #81b3d2;
}
.footer-copyright:active path {
	fill: #bdbbbc;
}
.footer-copyright path {
	width: 144px;
	height: 41px;
}

/*Styles for catalog.html*/
.filter {
	display: flex;
	min-height: 220px;
	padding: 30px 73px;
	background-color: #81b3d2;
	background-image: url(../img/hotels-background.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	color: #ffffff;
}
.filter fieldset {
	margin: 0;
	padding-right: 100px;
  	border: none;
}
.filter fieldset:nth-child(2) {
	padding-right: 350px;
}
.filter legend {
	font-size: 16px;
	font-weight: 700;
	padding-bottom: 30px; 
 }
.filter ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.filter .filter-option {
	padding-bottom: 25px;
}
.filter .filter-option:last-child {
	padding: 0;
}
.filter h2 {
	font-size: 16px;
	font-weight: 700;
	margin: 0;
	padding-bottom: 15px;
}
.filter-option label {
	position: relative;
	display: block;
	margin-left: 42px;
}
.filter-input-checkbox + label::before {
	content: "";
	width: 21px;
	height: 21px;
	position: absolute;
	top: -1px;
	left: -42px;
	border: 2px solid #ffffff;
	border-radius: 15%;
}
.filter-input-checkbox:checked + label::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  left: -38px;
  top: -5px;
  background-image: url(../img/she—Åkbox.svg);
  fill: #ffffff;
  background-repeat: no-repeat;
  fill: #ffffff;
}
.catalog-page button {
	width: 135px;
	display: flex;
	margin: auto;
	padding: 10px 35px;
	border: 2px solid #ffffff;
	color: #ffffff;
	text-transform: uppercase;
	background-color: transparent;
}
.catalog-page button:hover,
.catalog-page button:focus {
	background-color: #ffffff;
	color: #000000;
}
.cost {
	width: 315px;
	height: 20px;
	padding: 5px 0 5px 0;
	border: 2px solid #ffffff;
}
.cost input {
	width: 150px;
	border: none;
	border-right: 2px solid #ffffff; 
	background-color: transparent;
	color: #ffffff;
	text-align: center;
}
.cost input:last-child {
	border: none;
}
.cost input::placeholder {
	color: #ffffff;
}
.range {
	position: relative;
	margin-top: 15px;
	margin-bottom: 30px;
}
.range .line {
	height: 2px;
	background-color: #918381;
	width: 317px;
}
.range .line-right {
	position: absolute;
	top: -0.3px;
	height: 2px;
	background-color: #ffffff;
	width: 260px;
}
.range-left {
	position: absolute;
	top: -9px;
  left: -2px;
}
.range-right {
	position: absolute;
	top: -9px;
  left: 250px;
}
.range-left img:hover,
.range-right img:hover {
	width: 25px;
	height: 25px;
	position: relative;
	top: 0;
	left: 0;
}
.search-results {
	display: flex;
}
.search-results ul {
	display: flex;
}
.search-results  li {
  padding-right: 30px;
}
.search-results  li:last-child {
  padding: 0;
}
.search-results h3,
.catalog h3 {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}
.search-results h3 {
	align-self: baseline;
}
.search-results span {
	margin-left: 50px;
	margin-right: 40px;
}
.search-results span,
.search-results ul {
	font-size: 12px;
	line-height: 18px;
	align-self: baseline;
}
.search-results ul,
.catalog-list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.search-results a {
	color: #cacaca;
	border-bottom: 1px dashed #81b3d2;
}
.search-results a:hover,
.search-results a:focus{
	color: #81b3d2;
	border-bottom: 1px dashed #81b3d2;
}
.search-results a:active{
	color: #000000;
	border: none;
}
.search-results .active a {
	color: #81b3d2;
	border: none;
}
.sort-buttons {
	display: flex;
	margin: 0;
	padding: 0;
}
.button-up,
.button-downn {
	margin: 0;
	padding: 0;
}
.search-results,
.catalog {
	margin: 0;
	padding: 0 73px;
}
.catalog {
	padding-right: 73px;
}
.catalog-item {
	display: flex;
	margin-bottom: 60px;
}
.catalog-item img {
	margin: 0;
	padding: 0;
	width: 135px;
	height: auto;
	padding-right: 30px;
} 

.catalog-wrapper h3 {
	margin: 0;
	padding: 0;
}
.catalog-wrapper span {
	padding-right: 30px;
}
.catalog-wrapper .catalog-button  {
	margin: 0;
	padding: 0;
	padding-top: 15px;
}
.catalog-wrapper .button {
	padding: 8px 15px;
	margin-right: 6px;
}
.catalog-item .hotel-rating {
	align-content: flex-end;
	align-self: flex-end;
	background-color: #f2f2f2;
	margin: 0;
	margin-left: auto;
	padding: 6px 15px;
}
.catalog-item .name {
	color: #000000;
}
.catalog-item .name:hover,
.catalog-item .name:focus {
	color: #81b3d2;
}
.catalog-item .name:active {
	color: #cacaca;
}
.detailed {
	background-color: #81b3d2;
}
.detailed:hover,
.detailed:focus {
	background-color: #669ec0;
}
.detailed:active {
	background-color: #669ec0;
	color: #8b827c;
}
.catalog-page .main-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 133px;
  padding-right: 102px;
  background-color: #ffffff;
  position: inherit;
}